.carrosel{
    grid-area: carrossel;
    display: block;
    position: relative;
    margin-bottom: 1em;
    z-index: 1;
   }

   .carrossel__titulo {
  

    text-align: center;
    text-transform: uppercase;   
    font-weight: 800;
    margin-bottom: 0.5em;  
}

.swiper-slide img {
    width: 100%;
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position:absolute;
    margin: 0 0;
    color: aliceblue;
}

.swiper-pagination-bullet{   
background-color:  #F6DA33;
}


