.carrosel{
    grid-area: carrossel;       
   text-align: center;     
   margin: 0 14em 1em 5em;
}

.swiper-slide img {    
width: 100%;
height: 500px;
}
.swiper-button-prev,
.swiper-button-next {
    display: none;
}


.element.style{
    margin-right: 0;
}

.carrossel__titulo{
    display: none;
}

@media screen and (max-width: 821px) {
.carrosel{
    grid-area: carrossel;   
    position: relative;
    margin-bottom: 1em;
    z-index: 1;
   }


   .carrossel__titulo {  

    text-align: center;
    text-transform: uppercase;   
    font-weight: 800;
    margin-bottom: 0.5em;  
}



.carrosel__nome__personagem{
    text-align: center;
    text-transform: uppercase;
}

.swiper-slide img {
    width: 100%;
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: absolute; 
}

.swiper-pagination-bullet{   
background-color:  #F6DA33;
}

#bulets{
    margin-bottom: 22px;
}

}