.formulario__container {
    width: 50%;
   display: flex;
   flex-direction: column;
    font-size: 15px;
    background-color: transparent;  
    width: 100%;    
      
}

.container__form{
    margin-left: 3em;
}

.Formulario__titulo {   
    color: white;
    text-shadow: 5px 5px 5px black;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 0.5em;
}

.formulario__input{
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 200px;
    padding: 7px;
    color: #F6DA33 ;     
    border-radius: 5px ;  
    border: 1px solid white ;
    background-color: transparent ;
    font-weight: bold;
}

input:hover, textarea:hover,  textarea:focus, .enviar:focus, input:focus {
    border-color: #F6DA33 ;
    box-shadow: 5px 0px 9px #F6DA33 ;
    background-color: transparent;  
}

input:-webkit-autofill,
input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: #F6DA33 !important;
}

.enviar {
    background-color: transparent;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid white;
    color: #FFFFFF;    
}



textarea {
    width: 400px;
    height: 90px;
    line-height: 20px;
    max-width: 400px;
    color: #F6DA33 ;
    margin: 0.8em 0;
    font-weight: bold;
}

 label {    
    color: #FFFFFF;
    font-weight: bold;
}

#nomeid{
    margin-bottom: 0.5em;
}

@media screen and (min-width: 822px) and (max-width: 1500px)  {

}

textarea{
    width: 300px;
    height: 70px;
    margin: 0.4em 0;
}

.Formulario__titulo {       
    font-size: 19px;
    margin-bottom: 0.2em;
}

#nomeid{
    margin-bottom: 0.2em;
    width: 200px;
    padding: 5px;

}
