.cabecalho{
    margin-left: 1em;
    grid-area: cabecalho;
    display: flex;
    align-items: center;    
    margin-bottom: 2em;
  

   
}


.links__cabecalho{    
    
    color: white;
    text-decoration: none;
    font-weight:  800;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;    
   
}

.links__header{
    text-decoration: none;
    color: white; 
    padding: 3vh;     
    
}

.links__header:hover {
    color:#FFE81F;
}

.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../Assets/Menu.svg");
    display:inline-block ;
    background-repeat: no-repeat;
    background-position: center;
    
}


@media screen and (min-width: 1728px){
  
    .links__cabecalho{
        margin-left: 100px;
    }
    
}


@media screen and (max-width: 1024px){

    .cabecalho{
    display: none;
}
.container{
    display: block;
}

}