.cabecalho {
    margin-left: .5em;
    grid-area: cabecalho;
    display: flex;
    margin-bottom: 2em;
    position: relative;
    align-items: center;
}


.links__cabecalho {

    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-left: 2vh;

}

.links__header {
    text-decoration: none;
    color: white;
    padding: 0.8em;

}

.links__header:hover {
    color: #FFE81F;
}

.cabeçalho__menu-hamburguer {

    background-image: url("../Assets/menu.png");
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 1.2em;
}

.container {
    display: none;
}





@media screen and (max-width: 480px) {

    .cabecalho {
        margin: 0;
    }

    .links__header {
        display: none;
    }

    .container {
        display: block;
        display: flex;
        align-content: space-between;
    }

    .container__imagem {
        width: 20%;
        height: 20%;
    }

    .lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 31vw;
       
    }

    .lista-menu__item{
        background-color: aliceblue;
        padding: .4em 0;
    }

    .lista-menu__link{
        text-transform: uppercase;
       
    
    }

    .container__botao:checked~.lista-menu {
        display: block;
    }

    .container__botao {
        display: none;
    }


    .imagem__cabecalho {
        display: none;
    }

    .container__imagem {
        width: 70%;
        padding: 1.3em;

    }

}