
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url("./header.css");
@import url("./carrossel.css");
@import url("./formulario.css");

*{
    margin: 0;
    padding: 0;
    
}

body {
          
    font-family: 'Inter', sans-serif;
    background-image:url("../Assets/papel-de-parede-pixel-parede.jpg");
    
    color: white;
    font-size: 16px;
}

.grid{
    margin: 0 5%;
    background-color: rgba(0,0,0,0.6);        
    display: grid;
    grid-template-columns:  10% auto 10%;    
    grid-template-areas:
    "cabecalho cabecalho cabecalho "
    "esquerdo section1  direito"
    "esquerdo section1  direito"
    "esquerdo section2  direito"
    "esquerdo section2  direito"
    "rodape   rodape   rodape" ;
}


#navegacao__left{
    grid-area: esquerdo;
    display: flex;
    flex-direction: column;    
}
#titulo_left{
    margin-bottom: 1em;
}

.imagens__left{
    width: 100%;
    
}

.imagens__left:hover{
    transform: scale(1.6, 1.6);
    border: 1px solid #F6DA33
}

#navegacao__right{
    grid-area:direito;
    display: flex;
    flex-direction: column;    
}

.lista-nav__item{
    list-style-type:none;
    padding: 0.7em 0;
}

.navegacao__right__titulo{
    font-size:16px ;
    padding-bottom: 0.8em;
}

.lista-menu__link{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;   
}

.lista-menu__link:hover{
    color: #F6DA33;
    
 
}

#container__section1{
grid-area: section1;
display: flex;
color: aliceblue;
justify-content: space-between;
margin: 0 5em;


}

#titulo{
    text-transform: uppercase;
    padding-bottom: 1em;
    font-size: 40px;
    
}
#container__texto{ 
    width: 55%;
    height: 90%;  
   }

#texto{
    font-size: 24px;
   }
.paragrafo__index__imagem1{
    padding: 2em 0;   
}




#linktexto{
text-decoration: none;  
color: #F6DA33;  
}

#linktexto:hover{

color: yellow;
}

#container__contato{
    grid-area: section2;
    display: flex;
    justify-content: flex-start; 
    margin: 0 5em;  
}

.paragrafo__index__imagem2{
    width: 50%;
    margin-right: 100px;
  
}

.imagem2{
width: 100%;

}

.rodape__container{
    grid-area: rodape;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto__rodape{
    color: white;
}


.carrosel{
    display: none;
}
    .carrosel2{
        display: none;
    }

/* Resolução Notebook */
@media screen and (min-width: 822px) and (max-width: 1600px) {


    
  .lista-nav__item{
    padding: 0.5em 0;
  }   
    
    
    
    
    #container__section1{
        margin: 0;
        padding: 0 3.5em ;
    }

    #container__texto{
        padding-right: 0.8em;      
    }
    
    #titulo{
        font-size: 32px;
        padding: 0;
        padding-bottom: 1em;
    }

    #texto{
        font-size: 19px;
    }



    .paragrafo__index__imagem1{
        padding: 0;        
    }

    #container__contato{
        margin: 0;
        padding: 0 3.5em ;
    }


    .paragrafo__index__imagem2{
        width: 50%;
    }

    .imagem2{
        width: 100%;
    }

    .container__formulario{
        width: 50%;
    }

    .form__texto{
       width: 100%;
    }
}

/* resolução celular */
@media screen and (max-width: 821px)  {

   body{
 margin: 0;
   }

    .grid{
        margin: 0 5%;
        background-color: rgba(0,0,0,0.6);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "cabecalho cabecalho"
         "carrossel carrossel "
         "carrossel2 carrossel2 "
        "section1 section1"
        "section2 section2"
        "rodape  rodape" ;
    }

    .carrosel{
        display: block;
        grid-area: carrossel;
        position: relative;
    }

    .carrosel2{
            display: block;    
            grid-area: carrossel2;
            position: relative;
        }
    }

    .lista-menu__link{
        color: #F6DA33;
    }

#navegacao__left{
    display: none;
}

#navegacao__right{
    display: none;
}

#container__section1{ 
    display: flex;
    width: 100%;   
    color: aliceblue;
   flex-direction: column;  
   margin: 0; 
  
 }

 #container__texto{
    width: 100%;
    padding: 0; 
   text-align: center;  
 }

 #titulo{
    font-size: 1.5em;
    padding-bottom: 0;
 }

#texto{
        font-size: 16px;
        padding: 1em;
       }

       .container__imagem1{      
        width: 100%;
       text-align: center;
       }

.paragrafo__index__imagem1{
    width: 100%;
    padding: 0;
}


    #container__contato{
display: none
}

.rodape__container{
    padding-top: 1em;
}

