@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url("./header.css");

* {
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Inter', sans-serif;
    background-image: url("../Assets/papel-de-parede-pixel-parede.jpg");
    color: white;
    font-size: 16px;
    background-size: 90%;
    background-size: inherit;
}


.grid {
    margin: 0 5%;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-areas:
        "cabecalho cabecalho cabecalho "
        "esquerdo section1  direito"
        "esquerdo section1  direito"
        "esquerdo section2  direito"
        "esquerdo section2  direito"
        "rodape   rodape   rodape";
}



#navegacao__left {
    grid-area: esquerdo;
    display: flex;
    flex-direction: column;

}

#navegacao__right {
    grid-area: direito;
    display: flex;
    flex-direction: column;


}

.paragrafo_1_texto {
    display: flex;
    justify-content: center;

}

.section1 {
    grid-area: section1;
    display: flex;
    color: aliceblue;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;

}

#titulo {
    text-transform: uppercase;

}

.container__texto {
    display: flex;
    flex-direction: column;
    width: 50%;


}

.paragrafo__index__imagem {
    display: flex;


}

.section2 {
    grid-area: section2;
    display: flex;
    color: aliceblue;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;

}



.container__texto_02 {
    display: flex;
    flex-direction: column;
    width: 50%;

}



.rodape__container {
    grid-area: rodape;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8em;
}



@media screen and (max-width: 821px) {

    .grid {
        background-color: rgba(0, 0, 0, 0.6);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "cabecalho cabecalho"
            "section1 section1"
            "section2 section2"
            "rodape  rodape";
    }


    #navegacao__right {
        display: none;
    }

    #navegacao__left {
        display: none;
    }

    .container__section1 {

        flex-direction: column;
    }

    .container__section2 {

        flex-direction: column;
    }

    .container__texto{
        width: 100%;
    }

    #titulo{
        text-align: center;
    }

    .paragrafo_1_texto{
        margin: 1em 0;
        text-align: center;
    }

    #imagem1 {
        width: 100%;
        margin-bottom: 1em;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    }

    .section2 {
        display: flex;
        flex-direction: column;
    }

    .container__texto_02{
        width: 100%;
        text-align: center;
    }

    .paragrafo_2_texto{
        margin: 1em 0;
    }

    .paragrafo__index__imagem {
        width: 100%;
    }

    .rodape__container{
        padding-top: 4em;
    }

}
