
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url("./header.css");

*{
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0 5%;      
    font-family: 'Inter', sans-serif;
    background-image:url(../Assets/papel-de-parede-pixel-parede.jpg);
    color: white;
    font-size: 16px;
}
.grid{
    background-color: rgba(0,0,0,0.6);     
    width: 100%;
    display: grid;
    grid-template-columns:  10% auto 10%;

    grid-template-areas:
    "cabecalho cabecalho cabecalho "
    "esquerdo section1  direito"
    "esquerdo section1  direito"
    "esquerdo section2  direito"
    "esquerdo section2  direito"
    "esquerdo section3  direito"
    "esquerdo section3  direito"
    "esquerdo section4  direito"
    "esquerdo section4  direito"
    "esquerdo section5  direito"
    "esquerdo section5  direito"
    "rodape   rodape   rodape";

}



#navegacao__left{
    grid-area: esquerdo;
    display: flex;
    flex-direction: column;  

}

#navegacao__right{
    grid-area:direito;
    display: flex;
    flex-direction: column;
    
}

#linktexto{
    text-decoration: none;  
color: #F6DA33; 
}
#linktexto:hover{
    color: yellow;
    }

.container__section1{
    grid-area: section1;
    display: flex;
    color: aliceblue;
   justify-content: space-around;
    }

.titulo1{
    text-transform: uppercase;
    padding-bottom: 1em;
    font-size: 40px;    
}

.container__texto{
    display: flex;
    flex-direction: column;    
    width: 50%;  
}

.texto1{
    font-size: 24px;
}

.section2{
grid-area: section2;
display: flex;
justify-content: space-around;
padding-top: 3em;
}

.container__texto_02{
  display: flex;
  flex-direction: column;
  width: 50%;    
}

.paragrafo__02__titulo{
    text-transform: uppercase;
    padding-bottom: 1em;
    font-size: 40px;
}

.texto2{
font-size: 24px;
}

.section3{
    grid-area: section3;
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    }
    
    .container__texto_03{
      display: flex;
      flex-direction: column;
      width: 50%;
      
    }
    
    .paragrafo__03__titulo{
        text-transform: uppercase;
        padding-bottom: 1em;
        font-size: 40px;
    }
    
    .texto3{
    font-size: 24px;

    }

    #imagem3{
        height: 550px;
    }
    
    .section4{
        grid-area: section4;
        display: flex;
        justify-content: space-around;
        padding-top: 3em;
        }
        
        .container__texto_04{
          display: flex;
          flex-direction: column;
          width: 50%;
          
        }
        
        .paragrafo__04__titulo{
            text-transform: uppercase;
            padding-bottom: 1em;
            font-size: 40px;
        }
        
        .texto4{
        font-size: 24px;
    
        }
    
        #imagem4{
          width: 100%;
          height: 100%;
        }

        .section5{
            grid-area: section5;
            display: flex;
            justify-content: space-around;
            padding-top: 3em;
            }
            
            .container__texto_05{
              display: flex;
              flex-direction: column;
              width: 50%;
              
            }
            
            .paragrafo__05__titulo{
                text-transform: uppercase;
                padding-bottom: 1em;
                font-size: 40px;
            }
            
            .texto5{
            font-size: 24px;
        
            }
        
            #imagem5{
        width: 100%;
        height: 100%;
            }
        
           
.rodape__container{
    grid-area: rodape;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto__rodape{
    color: white;
}




@media screen and (min-width: 822px) and (max-width: 1600px) {

    .titulo1, .paragrafo__02__titulo, .paragrafo__03__titulo{

        font-size: 32px;
        padding: 0;
        padding-bottom: 1em;
    }

    .texto1, .texto2, .texto3, .texto4, .texto5{
        font-size: 20px;
    }
}



@media screen and (max-width: 821px)  {

    .grid{
        background-color: rgba(0,0,0,0.6);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "cabecalho cabecalho"
        "section1 section1"
        "section2 section2"
        "section3 section3"
        "section4 section4"
        "section5 section5"
        "rodape  rodape" ;
    }
    

    .container__imagem-mobile {
        width: 80%;
    }

    .container__section1, .section2, 
    .section3, .section4, .section5 { 
        
       color: aliceblue;
       flex-direction: column;    
     }
     .container__texto, .container__texto_02, .container__texto_03,
       .container__texto_04, .container__texto_05{
        width: 100%;
        text-align: center;
        padding: 0;
        
     }
     .texto1, .texto2, .texto3, .texto4, .texto5{
        font-size: 16px;
    }
    .titulo1, .paragrafo__02__titulo, .paragrafo__03__titulo{

        font-size: 1.5em;
    }
.titulo1{
        padding-bottom: 0;
     }

     .texto1, .texto2,.texto3{
        margin: 1em 0;
     }

     .paragrafo__imagem{
        width: 100%;
        margin-bottom: 0;
        
     }
     .section2 {
        flex-direction: column-reverse;
        padding-top: 1em;
     }

     .container__texto_02,.container__texto_03{
        width: 100%;
        text-align: center;
     }

     .paragrafo__02__titulo{
        padding: 0;
     }

     #imagem2{
        width: 100%;
     }

     .section3
     {
        padding-top: 1em;      
     }
     .paragrafo__03__titulo{
        padding-bottom: 0;
     }

     #imagem3{
        width: 100%;
        height: 300px;
     }

     .section4{
        flex-direction: column-reverse;
        padding-top: 0em;
     }

     .container__texto_04{
        width: 100%;
        text-align: center;
        padding: 1em 0;
        
     }

     .section5{
        padding-top: 0;
     }

     .container__texto_05{
        padding: 1em 0;
     }

     .rodape__container{
        padding-top: 1em;
    }


    
}