/*Início CSS Sith */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

*{
    background-image: url("../Assets/papel-de-parede-pixel-parede.jpg");
    margin: 0;

}


#grid {
    display: grid;
    background-color: rgba(0,0,0,);    
    width: 100%;
    grid-template-columns: repeat(4, 10% 50% 30% 10%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "cabeçalho cabeçalho cabeçalho cabeçalho "
    "navegação conteudoTexto imagem conteudoLateral"
    "navegação conteudoTexto imagem conteudoLateral"
    "navegação conteudoTexto imagem conteudoLateral"
    "navegação conteudoTexto imagem conteudoLateral"
    "rodape rodape rodape  rodape "
    ;
    
}

header {
    grid-area: cabeçalho;
     margin-left: 1em;    
    display: flex;        
    gap: 1em;  

}

nav {
    grid-area: navegação;
   
}

/*nav #hamburguer {
    grid-area: hamburguer;
    background-color: #1a1a1a;
}*/

div #conteudoTexto {
    grid-area: conteudoTexto;
   
}


aside {
    grid-area: conteudoLateral;
   
}

footer {
    grid-area: rodape;
  
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    color: white;
}

aside {
    color: white;
}

.logo_starwars {
    
}

.menu {
    

.menu a {
    
}


.menu a:hover {
    color: #E2CD0E;
}

.center {
    display: flex;
}

.paragrafo_1 {
    color: aliceblue;
}

nav a{
    fon
}



.navegação a:hover {
    color: rgb(209, 3, 3);
}

aside a{
    font-weight: bold;
    color: aliceblue;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    line-height: 5;
}

aside h1{
    font-weight: bold;
    color: #E2CD0E;
    font-size: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}


aside ul li {
    list-style-type: none;
}

.conteudoLateral a:hover {
    color: rgb(209, 3, 3);
}

.paragrafo_1_titulo {
    font-weight: bold;
    font-size: 60px;
    left: 95px;
    top: 168px;
    padding: 30px;
    font-family: 'Inter', sans-serif;
}

.paragrafo_1_texto {
    font-size: 30px;
    left: 95px;
    top: 237px;
    padding: 30px;
    font-family: 'Inter', sans-serif;
}

.paragrafo_2 {
    color: aliceblue;
}

.paragrafo_2_titulo {
    font-weight: bold;
    font-size: 60px;
    top: 632px;
    left: 800px;
    padding: 30px;
    font-family: 'Inter', sans-serif;
}

.paragrafo_2_texto {
    font-size: 30px;
    left: 95px;
    top: 237px;
    padding: 30px;
    font-family: 'Inter', sans-serif;
}

.imagemCentro {
    width: 1190px;
    height: 1100px;
}

.imagem_sith1 {
    width: 600px;
    height: 400px;
    left: 95px;
    top: 614px;
}

.imagem_sith2 {
    width: 462px;
    height: 399px;
    left: 916px;
    top: 166px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer ul {
    display: flex;
    justify-content:center;
}

footer li img {
    width: 100px;
    height: 100px;
    left: 95px;
    top: 614px;
}

footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

footer {
    padding-top: 16px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

