
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url("./header.css");

*{
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0 5%;      
    font-family: 'Inter', sans-serif;
    background-image:url(../Assets/papel-de-parede-pixel-parede.jpg);
    color: white;
    font-size: 16px;
}

#grid {
    display: grid;
    background-color: rgba(0,0,0,0.6);      
    width: 100%;
    grid-template-columns: ( 10%  auto 10%);      
    grid-template-areas:
    "cabecalho cabecalho  cabecalho "
    "navegação conteudoTexto  conteudoLateral"
    "navegação conteudoTexto  conteudoLateral"
    "navegação conteudoTexto conteudoLateral"
     "rodape rodape rodape  "
    ;
    }




#navegação{
    grid-area: navegacao;
    width: 100%;
   
    
}
.Links__nav{
    text-decoration: none;

}

.navegacao__lista{
    list-style: none;
}

.container__texto{
    width: 100%;
}


.paragrafo_1{
    grid-area: conteudoTexto;
    display: flex;
}



.imagemCentro{
width: 100%;
height: 100%;
}

.conteudoLateral{
    grid-area: conteudoLateral;
    width: 100%;
}

.rodape__container{
grid-area: rodape;
text-align: center;
padding-top: 5em;

}