@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url("./header.css");

*{
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0 5%;      
    font-family: 'Inter', sans-serif;
    background-image:url(../Assets/papel-de-parede-pixel-parede.jpg);
    color: white;
    font-size: 16px;
}

.grid {
    display: grid;
    background-color: rgba(0, 0, 0, 0.349);        
    grid-template-columns: ( 10%  auto 10%);      
    grid-template-areas:
    "cabecalho cabecalho cabecalho"
    "navegacao conteudoTexto conteudoLateral"
    "navegacao conteudoTexto conteudoLateral"
    "navegacao conteudoTexto conteudoLateral"
    "rodape rodape rodape" ;
    }

.navegação{
    grid-area: navegacao;
    padding: 10px;
    line-height: 5;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border: solid 1px;
    align-items: center;
}

.navegação a:hover {
    color: rgb(209, 3, 3);
}


.Links__nav{
    text-decoration: none;
}

.navegacao__lista{
    list-style: none;
    text-decoration: none;
}

.container__texto{
    width: 100%;
    padding-left: 20px;
}


.paragrafo_1{
    grid-area: conteudoTexto;
    display: flex;
    padding: 30px;
    align-content: center;
}

.paragrafo_1_titulo {
    color: #FFE81F;
}

.paragrafo_2_titulo {
    color: #FFE81F;
}

.imagemCentro{
width: 100%;
height: 100%;
}

.conteudoLateral{
    grid-area: conteudoLateral;
    width: 100%;
    padding: 10px;
    line-height: 5;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border: solid 1px;
    align-items: center;
}

nav a{
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    line-height: 5;
}

.conteudoLateral a:hover {
    color: rgb(209, 3, 3);
}

aside h4 {
    color: #FFE81F;
}

aside a{
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    line-height: 5;
}

.rodape__container{
grid-area: rodape;
text-align: center;
padding-top: 5em;
}

@media screen and (max-width: 821px) {

    .grid {
        display: grid;
        background-color: rgba(0,0,0,0.6);        
        grid-template-columns: ( 1fr 1fr);      
        grid-template-areas:
        "cabecalho cabecalho  "
        " conteudoTexto conteudoTexto "
        " conteudoTexto conteudoTexto"
        "rodape rodape ";
        }

        .paragrafo_1{
            flex-direction: column;
        }
    

    .conteudoLateral{
        display: none;
    }

        .navegação{
            display: none;
        }
    }
