
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0 5%;      
    font-family: 'Inter', sans-serif;
    background-image:url(../Assets/papel-de-parede-pixel-parede.jpg);
    color: white;
    font-size: 16px;
}

#grid {
    display: grid;
    background-color: rgba(0,0,0,);    
    width: 100%;
    grid-template-columns: ( 10% auto auto 10%);
   
    grid-template-areas:
    "cabeçalho cabeçalho cabeçalho cabeçalho "
    "navegação conteudoTexto imagem conteudoLateral"
    "navegação conteudoTexto imagem conteudoLateral"
    "navegação conteudoTexto imagem conteudoLateral"
     "rodape rodape rodape  rodape "
    ;
    
}

#cabecalho{
    margin-left: 1em;
    grid-area: cabeçalho;
    display: flex;
    align-items: center;    
    

   
}

#links__cabecalho{    
    
    color: white;
    text-decoration: none;
    font-weight: bolder 800px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;    
    margin-left: 40px;
}

.links__header{
    text-decoration: none;
    color: white; 
    padding: 1em;     
    
}

.links__header:hover {
    color:#FFE81F;
}

#navegação{
    grid-area: navegação;
}
